<h3>Add Salutation</h3>
<form (ngSubmit)="addSalutation(f)" #f="ngForm">
  <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" #name="ngModel" id="name" [(ngModel)]="salutation.name" name="name" required>
      <div class="validation-error" *ngIf="name.invalid && name.touched">Name is required</div>
    </div>
    <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-info" style="margin-left: 5px;" routerLink="/pages/salutations/list">Back to list</button>
  </form>