<h1>Delete Salutation</h1>
<form>
    <div class="form-group">
      <label for="name">Do you want to delete this salutation?</label>
    </div>
    <button type="submit" class="btn btn-danger" (click)="delete()">Yes</button>
    <button type="submit" class="btn btn-info" style="margin-left: 5px;" routerLink="/pages/salutations/list">No</button>
  </form>