<h3>Add Employee</h3>
<form (ngSubmit)="addEmployee(f)" #f="ngForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" #fname="ngModel" id="firstName" [(ngModel)]="employee.firstName" name="firstName" required>
      <div class="validation-error" *ngIf="fname.invalid && fname.touched">Firstame is required</div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="employee.email" name="email">
    </div>
    <div class="form-group">
      <label for="code">Code</label>
      <input type="number" class="form-control" id="code" [(ngModel)]="employee.code" name="code">
    </div>
    <div class="form-group">
      <label for="address1">Address 1</label>
      <textarea class="form-control" id="address1" rows="3" [(ngModel)]="employee.address1" name="address1"></textarea>
    </div>
    <div class="form-group">
      <label for="address2">Address 2</label>
      <textarea class="form-control" id="address2" rows="3" [(ngModel)]="employee.address2" name="address2"></textarea>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender" [(ngModel)]="employee.gender" name="gender">
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date of Birth</label>
      <input type="date" class="form-control" id="dateOfBirth" [(ngModel)]="employee.dateOfBirth" name="dateOfBirth">
    </div>
    <div class="form-group">
      <label for="languageId">Language</label>
      <select class="form-control" id="languageId" [(ngModel)]="employee.languageId" name="languageId">
        <option *ngFor="let lang of languages" [value]="lang.id">{{lang.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="countryId">Country</label>
      <select class="form-control" id="countryId" [(ngModel)]="employee.countryId" name="countryId">
        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="municipalityId">Municipality</label>
      <select class="form-control" id="municipalityId" [(ngModel)]="employee.municipalityId" name="municipalityId">
        <option *ngFor="let mun of municipalities" [value]="mun.id">{{mun.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="salutationId">Salutation</label>
      <select class="form-control" id="salutationId" [(ngModel)]="employee.salutationId" name="salutationId">
        <option *ngFor="let salutation of salutations" [value]="salutation.id">{{salutation.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="socialSecurityNo">Social Security No</label>
      <input type="text" class="form-control" id="socialSecurityNo" [(ngModel)]="employee.socialSecurityNo" name="socialSecurityNo">
    </div>
    <div class="form-group">
      <label for="electronicDispatch">Electronic Dispatch</label>
      <input type="text" class="form-control" id="electronicDispatch" [(ngModel)]="employee.electronicDispatch" name="electronicDispatch">
    </div>
    <div class="form-group">
      <label for="lastSalary">Last Salary</label>
      <input type="number" class="form-control" id="lastSalary" [(ngModel)]="employee.lastSalary" name="lastSalary">
    </div>
    <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-info" style="margin-left: 5px;" routerLink="/pages/employees/list">Back to list</button>
  </form>