<h3>Add User</h3>
<form (ngSubmit)="addUser(f)" #f="ngForm">
  <div class="form-group">
    <label for="userName">User Name</label>
    <input type="text" class="form-control" #userName="ngModel" id="userName" [(ngModel)]="user.userName"
      name="userName" required>
    <div class="validation-error" *ngIf="userName.invalid && userName.touched">Username is required</div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" #email="ngModel" id="email" [(ngModel)]="user.email" name="email" required>
    <div class="validation-error" *ngIf="email.invalid && email.touched">Email is required</div>
  </div>
  <div class="form-group">
    <label for="usertype">User Type</label>
    <select class="form-control" id="usertype" [(ngModel)]="user.roleId" name="roleId">
      <option *ngFor="let type of userTypes" [value]="type.id">{{type.name}}</option>
    </select>
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input type="password"required (ngModelChange)="changeStatus($event,ConfirmPassword)" class="form-control" #password="ngModel" id="password" [(ngModel)]="user.password" 
      name="passwordname">
      <div class="validation-error" *ngIf="password.invalid && password.touched">Password is required</div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" required class="form-control" #modelconfirmPassword="ngModel" id="confirmPassword" 
     [(ngModel)]="ConfirmPassword" (ngModelChange)="changeStatus($event,user.password)" [ngModelOptions]="{standalone:true}">
     <div class="validation-error" *ngIf="isequal">
       Passwords Don't Match
      </div>
    </div>
  <div class="form-group" *ngIf="user.roleId == 2">
    <label for="exampleFormControlSelect">Company/Companies</label>
    <ng-select [items]="companies" bindLabel="name" bindValue="id" [multiple]="true"
      placeholder="Select Company/Companies" [(ngModel)]="user.companyIds" [ngModelOptions]="{standalone: true}">
    </ng-select>
  </div>
  <div class="form-group" *ngIf="user.roleId == 3">
    <label for="exampleFormControlSelect">Company</label>
    <select class="form-control" id="exampleFormControlSelect" [(ngModel)]="user.companyIds" name="companyIds">
      <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
    </select>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="isActive" [(ngModel)]="user.isActive" name="isValid">
    <label class="form-check-label" for="isActive">
      Is Active ?
    </label>
  </div>
  <button type="submit" [disabled]="f.invalid||isequal" class="btn btn-primary">Submit</button>
  <button type="button" class="btn btn-info" style="margin-left: 5px;" routerLink="/pages/users/list">Back to
    list</button>
</form>