<h3>Add Company</h3>
<form (ngSubmit)="addCompany(f)" #f="ngForm">
  <div class="form-group">
      <label for="name">Company Name</label>
      <input type="text" class="form-control" id="name" #name="ngModel" [(ngModel)]="company.name" name="name" required>
      <div class="validation-error" *ngIf="name.invalid && name.touched">Name is required</div>
    </div>
    <div class="image-upload">
      <img [src]="company.logoPath" style="max-width:300px;max-height:300px"/>
      <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
    </div>   
  <div class="form-group">
      <label for="companyAddress">Company Address</label>
      <input type="text" class="form-control" id="companyAddress" [(ngModel)]="company.companyAddress" name="companyAddress">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="company.email" name="email">
    </div>
    <div class="form-group">
      <label for="telephoneNumber">Tel</label>
      <input type="text" class="form-control" id="telephoneNumber" [(ngModel)]="company.telephoneNumber" name="telephoneNumber">
    </div>
    <div class="form-group">
      <label for="commercialRegistry">Commercial Registry</label>
      <input type="text" class="form-control" id="commercialRegistry" [(ngModel)]="company.commercialRegistry" name="commercialRegistry">
    </div>
    <div class="form-group">
      <label for="medicalInsuranceNumber">Medical Insurance</label>
      <input type="text" class="form-control" id="medicalInsuranceNumber" [(ngModel)]="company.medicalInsuranceNumber" name="medicalInsuranceNumber">
    </div>
    <div class="form-group">
      <label for="pensionFundRegistration">Pension Fund Registration</label>
      <input type="text" class="form-control" id="pensionFundRegistration" [(ngModel)]="company.pensionFundRegistration" name="pensionFundRegistration">
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="isActive" [(ngModel)]="company.isActive" name="isActive">
      <label class="form-check-label" for="isActive">
        Is Active ?
      </label>
    </div>
    <div class="form-group">
      <label for="companyRegistrationNumber1">Company Registration Number 1</label>
      <input type="number" class="form-control" id="companyRegistrationNumber1" [(ngModel)]="company.companyRegistrationNumber1" name="companyRegistrationNumber1">
    </div>
    <div class="form-group">
      <label for="companyRegistrationNumber2">Company Registration Number 2</label>
      <input type="number" class="form-control" id="companyRegistrationNumber2" [(ngModel)]="company.companyRegistrationNumber2" name="companyRegistrationNumber2">
    </div>
    <div class="form-group">
      <label for="payrollName">Payroll Name Identifier</label>
      <input type="text" class="form-control" id="payrollName" [(ngModel)]="company.payrollName" name="payrollName">
    </div>
    <div class="form-group">
      <label for="employingEntity">Employing Entity</label>
      <input type="text" class="form-control" id="employingEntity" [(ngModel)]="company.employingEntity" name="employingEntity">
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="isPayrollRegistered" [(ngModel)]="company.isPayrollRegistered" name="isPayrollRegistered">
      <label class="form-check-label" for="isPayrollRegistered">
        Is Payroll Registered With The Regulatory Authorities ?
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="isAuthorizedPOARequired" [(ngModel)]="company.isAuthorizedPOARequired" name="isAuthorizedPOARequired">
      <label class="form-check-label" for="isAuthorizedPOARequired">
        Is Authorized POA Required ?
      </label>
    </div>
    <div class="form-group">
      <label for="totalPayrollHeadcount">Total Payroll HeadCount</label>
      <input type="number" class="form-control" id="totalPayrollHeadcount" [(ngModel)]="company.totalPayrollHeadcount" name="totalPayrollHeadcount">
    </div>
    <div class="form-group">
      <label for="numberOfFullTimeEmployees">Number Of Full Time Employees</label>
      <input type="number" class="form-control" id="numberOfFullTimeEmployees" [(ngModel)]="company.numberOfFullTimeEmployees" name="numberOfFullTimeEmployees">
    </div>
    <div class="form-group">
      <label for="numberOfPartTimeEmployees">Number Of Part Time Employees</label>
      <input type="number" class="form-control" id="numberOfPartTimeEmployees" [(ngModel)]="company.numberOfPartTimeEmployees" name="numberOfPartTimeEmployees">
    </div>
    <div class="form-group">
      <label for="numberOfSalariedEmployees">Number Of Salaried Employees</label>
      <input type="number" class="form-control" id="numberOfSalariedEmployees" [(ngModel)]="company.numberOfSalariedEmployees" name="numberOfSalariedEmployees">
    </div>
    <div class="form-group">
      <label for="numberOfHourlyPaidEmployees">Number Of Hourly Paid Employees</label>
      <input type="number" class="form-control" id="numberOfHourlyPaidEmployees" [(ngModel)]="company.numberOfHourlyPaidEmployees" name="numberOfHourlyPaidEmployees">
    </div>
    <div class="form-group">
      <label for="payFrequency">Pay Frequency</label>
      <input type="text" class="form-control" id="payFrequency" [(ngModel)]="company.payFrequency" name="payFrequency">
    </div>
    <div class="form-group">
      <label for="payPeriod">Pay Period</label>
      <input type="text" class="form-control" id="payPeriod" [(ngModel)]="company.payPeriod" name="payPeriod">
    </div>
    <div class="form-group">
      <label for="payrollCutOffDate">Payroll Input Data CutOff Date</label>
      <input type="date" class="form-control" id="payrollCutOffDate" [(ngModel)]="company.payrollCutOffDate" name="payrollCutOffDate">
    </div>
    <div class="form-group">
      <label for="payDate">Pay Date</label>
      <input type="date" class="form-control" id="payDate" [(ngModel)]="company.payDate" name="payDate">
    </div>
    <div class="form-group">
      <label for="existingPayrollCalendar">Existing Payroll Calender</label>
      <input type="text" class="form-control" id="existingPayrollCalendar" [(ngModel)]="company.existingPayrollCalendar" name="existingPayrollCalendar">
    </div>
    <div class="form-group">
      <label for="modifiedMonths">Modified Month</label>
      <input type="text" class="form-control" id="modifiedMonths" [(ngModel)]="company.modifiedMonths" name="modifiedMonths">
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="isCBACurrentlyInPlace" [(ngModel)]="company.isCBACurrentlyInPlace" name="isCBACurrentlyInPlace">
      <label class="form-check-label" for="isCBACurrentlyInPlace">
        CBA Currently In Place ?
      </label>
    </div>
    <div class="form-group">
      <label for="cbaRequiredToBeUtilised">CBA Required To Be Utilised</label>
      <select class="form-control" id="cbaRequiredToBeUtilised" [(ngModel)]="company.cbaRequiredToBeUtilised" name="cbaRequiredToBeUtilised">
        <option value="1">Yes</option>
        <option value="2">No</option>      
      </select>
    </div>
    <div class="form-group">
      <label for="payrollResponsibleForPayments">Active Payroll To Be Responsible For Employee Payments</label>
      <select class="form-control" id="payrollResponsibleForPayments" [(ngModel)]="company.payrollResponsibleForPayments" name="payrollResponsibleForPayments">
        <option value="1">Yes</option>
        <option value="2">No</option>      
      </select>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="hrisInUse" [(ngModel)]="company.hrisInUse" name="hrisInUse">
      <label class="form-check-label" for="hrisInUse">
        HRIS In Use ?
      </label>
    </div>
    <div class="form-group">
      <label for="nameOfCurrentHRIS">Name Of Current HRIS</label>
      <input type="text" class="form-control" id="nameOfCurrentHRIS" [(ngModel)]="company.nameOfCurrentHRIS" name="nameOfCurrentHRIS">
    </div>
    <div class="form-group">
      <label for="nameOfFinanceSystem">Name Of Finance System</label>
      <input type="text" class="form-control" id="nameOfFinanceSystem" [(ngModel)]="company.nameOfFinanceSystem" name="nameOfFinanceSystem">
    </div>
    <div class="form-group">
      <label for="financeSystemFileSpecification">Finance System File Specification</label>
      <textarea class="form-control" id="financeSystemFileSpecification" rows="3" [(ngModel)]="company.financeSystemFileSpecification" name="financeSystemFileSpecification"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
    <button type="button" class="btn btn-info" style="margin-left: 5px;" routerLink="/pages/companies/list">Back to list</button>
  </form>