body {
    padding-top: 30px;
  }
  
  .glyphicon {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  small {
    display: block;
    line-height: 1.428571429;
    color: #999;
  }

  .imageCenter {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  