<div style="margin-top:30px;">
  <div [hidden]="!company.logoPath">
    <img [src]="company.logoPath" alt="avatar" class="imageCenter">
  </div>
  <div [hidden]="!company.name" class="alert alert-primary" role="alert">
    Company Name: <strong> {{company.name}}</strong>
  </div>
  <div [hidden]="!company.companyAddress" class="alert alert-primary" role="alert">
    Company address: <strong>{{company.companyAddress}}</strong>
  </div>
  <div [hidden]="!company.email " class="alert alert-primary" role="alert">
    Email: <strong>{{company.email}}</strong>
  </div>
  <div [hidden]="!company.telephoneNumber " class="alert alert-primary" role="alert">
    Telephone Number: <strong> {{company.telephoneNumber}} </strong>
  </div>
  <div [hidden]="!company.commercialRegistry " class="alert alert-primary" role="alert">
    Commercial Registry: <strong> {{company.commercialRegistry}} </strong>
  </div>
  <div [hidden]="!company.medicalInsuranceNumber " class="alert alert-primary" role="alert">
    Medical Insurance Number: <strong> {{company.medicalInsuranceNumber}} </strong>
  </div>
  <div [hidden]="!company.pensionFundRegistration " class="alert alert-primary" role="alert">
    Pension Fund Registration: <strong>{{company.pensionFundRegistration}} </strong>
  </div>
  <div [hidden]="!company.companyRegistrationNumber1 " class="alert alert-primary" role="alert">
    Company Registration Number 1: <strong>{{company.companyRegistrationNumber1}}</strong>
  </div>
  <div [hidden]="!company.companyRegistrationNumber2 " class="alert alert-primary" role="alert">
    Company Registration Number 2: <strong>{{company.companyRegistrationNumber2}}</strong>
  </div>
  <div [hidden]="!company.payrollName " class="alert alert-primary" role="alert">
    Payroll Name: <strong>{{company.payrollName}}</strong>
  </div>
  <div [hidden]="!company.employingEntity " class="alert alert-primary" role="alert">
    Employing Entity: <strong>{{company.employingEntity}}</strong>
  </div>
  <div [hidden]="!company.isPayrollRegistered " class="alert alert-primary" role="alert">
    Is Payroll Registered: <strong>{{company.isPayrollRegistered}}</strong>
  </div>
  <div [hidden]="!company.isAuthorizedPOARequired " class="alert alert-primary" role="alert">
    Is Authorized POA Required: <strong>{{company.isAuthorizedPOARequired}}</strong>
  </div>
  <div [hidden]="!company.totalPayrollHeadcount " class="alert alert-primary" role="alert">
    Total Payroll Headcount: <strong>{{company.totalPayrollHeadcount}}</strong>
  </div>
  <div [hidden]="!company.numberOfFullTimeEmployees " class="alert alert-primary" role="alert">
    Number Of Full Time Employees: <strong>{{company.numberOfFullTimeEmployees}}</strong>
  </div>
  <div [hidden]="!company.numberOfPartTimeEmployees " class="alert alert-primary" role="alert">
    Number Of Part Time Employees: <strong>{{company.numberOfPartTimeEmployees}}</strong>
  </div>
  <div [hidden]="!company.numberOfSalariedEmployees " class="alert alert-primary" role="alert">
    Number Of Salaried Employees: <strong>{{company.numberOfSalariedEmployees}}</strong>
  </div>
  <div [hidden]="!company.numberOfHourlyPaidEmployees " class="alert alert-primary" role="alert">
    Number Of Hourly Paid Employees: <strong>{{company.numberOfHourlyPaidEmployees}}</strong>
  </div>
  <div [hidden]="!company.payFrequency " class="alert alert-primary" role="alert">
    Pay Frequency: <strong>{{company.payFrequency}}</strong>
  </div>
  <div [hidden]="!company.payPeriod " class="alert alert-primary" role="alert">
    Pay Period: <strong>{{company.payPeriod}}</strong>
  </div>
  <div [hidden]="!company.payrollCutOffDate " class="alert alert-primary" role="alert">
    Payroll Cut Off Date: <strong>{{company.payrollCutOffDate}}</strong>
  </div>
  <div [hidden]="!company.payDate " class="alert alert-primary" role="alert">
    Pay Date: <strong>{{company.payDate}}</strong>
  </div>
  <div [hidden]="!company.existingPayrollCalendar " class="alert alert-primary" role="alert">
    Number Of Salaried Employees: <strong>{{company.numberOfSalariedEmployees}}</strong>
  </div>
  <div [hidden]="!company.modifiedMonths " class="alert alert-primary" role="alert">
    Modified Months: <strong>{{company.modifiedMonths}}</strong>
  </div>
  <div [hidden]="!company.isCBACurrentlyInPlace " class="alert alert-primary" role="alert">
    Is CBA Currently In Place: <strong>{{company.isCBACurrentlyInPlace}}</strong>
  </div>
  <div [hidden]="!company.cbaRequiredToBeUtilised " class="alert alert-primary" role="alert">
    CBA Required To Be Utilised: <strong>{{company.cbaRequiredToBeUtilised}}</strong>
  </div>
  <div [hidden]="!company.payrollResponsibleForPayments " class="alert alert-primary" role="alert">
    Payroll Responsible For Payments: <strong>{{company.payrollResponsibleForPayments}}</strong>
  </div>
  <div [hidden]="!company.hrisInUse " class="alert alert-primary" role="alert">
    HRIS In Use: <strong>{{company.hrisInUse}}</strong>
  </div>
  <div [hidden]="!company.nameOfCurrentHRIS " class="alert alert-primary" role="alert">
    Name Of Current HRIS: <strong>{{company.nameOfCurrentHRIS}}</strong>
  </div>
  <div [hidden]="!company.nameOfFinanceSystem " class="alert alert-primary" role="alert">
    Name Of Finance System: <strong>{{company.nameOfFinanceSystem}}</strong>
  </div>
  <div [hidden]="!company.financeSystemFileSpecification " class="alert alert-primary" role="alert">
    Finance System File Specification: <strong>{{company.financeSystemFileSpecification}}</strong>
  </div>
</div>
<div>
  <button [hidden]="!isAdmin" (click)="navigate('edit')"  type="button" class="btn btn-primary">Edit</button>
  <button [hidden]="!isAdmin" (click)="navigate('delete')" type="button" style="margin-left: 5px;" class="btn btn-danger">Delete</button>
  <button (click)="navigate('employees')" type="button" style="margin-left:5px;" class="btn btn-primary">Show Company Employees</button>
  <button (click)="navigate('list')" type="button" style="margin-left:5px;" class="btn btn-primary">Back to List</button>
</div>