<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="col-2">Companies</h2>
      </div>
      <div class="col-md-4">
        <button type="button" *ngIf="!isAuditor" class="btn btn-primary float-right" (click)="navigate('add')">Add Company</button>
      </div>
    </div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>        
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Updated at</th>
        <th scope="col">Is Active</th>
        <th scope="col"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <th scope="row">{{ company.id }}</th>
        <td><a [routerLink]="['/pages/employees/list/'+company.id]">{{ company.name }}</a></td>
        <td>{{ company.email }}</td>
        <td>{{ company.modifyDateTime | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ company.isActive }}</td>
        <td>
          <button type="button" class="btn btn-link" (click)="navigate('show',company.id)">Show</button>
          <button type="button" class="btn btn-link" *ngIf="!isAuditor" (click)="navigate('edit',company.id)">Edit</button>
          <button type="button" class="btn btn-link" *ngIf="!isAuditor" (click)="navigate('delete',company.id)">Delete</button>
          <button *ngIf="company.isActive == false && !isAuditor" type="button" class="btn btn-link" (click)="activate(company.id)">Activate</button>
          <button *ngIf="company.isActive == true && !isAuditor" type="button" class="btn btn-link" (click)="deActivate(company.id)">Deactivate</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
