<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="col-4">Municipalities</h2>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary float-right" (click)="navigate('add')">Add Municipality</button>
      </div>
    </div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let municipality of municipalities">
        <th scope="row">{{ municipality.id }}</th>
        <td>{{municipality.name}}</td>
        <td>
            <button type="button" class="btn btn-primary" style="margin-left: 5px;" (click)="navigate('edit',municipality.id)">Edit</button>
            <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="navigate('delete',municipality.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
