<h3>Update Country</h3>
<form (ngSubmit)="updateCountry(f)" #f="ngForm">
  <input name="id" type="hidden" [(ngModel)]="country.id">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" #name="ngModel" id="name" name="name" [(ngModel)]="country.name" required>
      <div class="validation-error" *ngIf="name.invalid && name.touched">Name is required</div>
    </div>
    <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-info" style="margin-left: 5px;" routerLink="/pages/countries/list">Back to list</button>
  </form>