
<div class="modal fade" id="myModal" [ngClass]="{'show':showModal}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Error Messages from Uploading</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Name</th>
              <th scope="col">Error Message</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employeesErrorMessageList">
              <th scope="row">{{ item.code }}</th>
              <td>{{ item.firstName }} {{ item.lastName }}</td>
              <td>{{ item.errorMessage }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="showModal=false">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="companies.length>0">
    <div class="row" >
      <div class="container container-lg border">
        <span>Upload file to import employees.</span>
        <span class="btn btn-large  btn-file ">
          <input id="uplaodFile" class="form-control" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" type="file" id="file" 
           (change)="handleInputChange($event)">
        </span>
        <button type="button" class="btn btn-info" (click)="uploadFiles()">Upload</button>
        <span style="margin-left: 5px;">You can download import <a [href]="fileUrl">employees template</a> , fill it then upload.</span>
      </div>
      <div class="col-md-8" style="margin-top: 20px;">
        <h2 class="col-2">Employees</h2>
      </div>
      <div class="col-md-4"  style="margin-top: 20px;">
        <button type="button" [disabled]="choosenCompany == 0" class="btn btn-primary float-right" (click)="navigate('add')">Add Employee</button>
      </div>
    </div>
    <form  style="margin-top: 20px;">
      <div class="form-group">
        <label *ngIf="id==null" for="companies">Choose Company</label>
        <select *ngIf="id==null" (change)="changeCompany()" class="form-control" id="companies" [(ngModel)]="choosenCompany" [ngModelOptions]="{standalone: true}">
          <option selected value="0">Select Company</option>
          <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
        </select>
        <div class="alert alert-info" role="alert" *ngIf="id!=null">Your company is <strong> {{companies[0].name}} </strong></div>
      </div>
    </form>
  <table *ngIf="employees.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Code</th>
        <th scope="col">Gender</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Salary</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <th scope="row">{{ employee.id }}</th>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.code }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.dateOfBirth | date:'yyyy-MM-dd'}}</td>
        <td>{{ employee.lastSalary }}</td>
        <td>
          <button type="button" class="btn btn-link" *ngIf="!isCompanyUser" [title]="employee.lastSync" (click)="sync(employee.id)">Sync</button>
          <button type="button" class="btn btn-link" (click)="navigate('show',employee.id)">Show</button>
          <button type="button" class="btn btn-link" (click)="navigate('edit',employee.id)">Edit</button>
          <button type="button" class="btn btn-link" (click)="navigate('delete',employee.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-danger" role="alert" *ngIf="employees.length == 0">No Employees in this Company yet</div>
</div>
<div *ngIf="companies.length == 0 && pageLoaded" class="alert alert-danger" role="alert" >No Company with this id</div>