<h3>Update User</h3>
<form (ngSubmit)="UpdateUser(f)" #f="ngForm">
  <input type="hidden" [(ngModel)]="user.id" name="id">
  <div class="form-group">
    <label for="userName">User Name</label>
    <input type="text" disabled class="form-control" id="userName" [(ngModel)]="user.userName" name="userName">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" (ngModelChange)="changeStatus($event,ConfirmPassword)" id="password" [(ngModel)]="user.password" name="password">
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" (ngModelChange)="changeStatus($event,user.password)" id="confirmPassword" [(ngModel)]="ConfirmPassword" [ngModelOptions]="{standalone:true}">
  </div>
  <div class="form-group">
    <label for="usertype">User Type</label>
    <select class="form-control" id="usertype" [(ngModel)]="user.roleId" name="roleId">
      <option *ngFor="let type of userTypes" [value]="type.id" >{{type.name}}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="user.roleId == 2">
    <label for="exampleFormControlSelect">Company/Companies</label>
    <ng-select [items]="companies"
                   bindLabel="name"
                   bindValue="id"
                   [multiple]="true"
                   placeholder="Select Company/Companies"
                   [(ngModel)]="user.companyIds"
                   [ngModelOptions]="{standalone: true}">
        </ng-select>
  </div>
  <div class="form-group" *ngIf="user.roleId == 3">
    <label for="exampleFormControlSelect">Company</label>
     <select class="form-control" id="exampleFormControlSelect" [(ngModel)]="user.companyIds"  name="companyIds">
      <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
    </select> 
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="isActive" [(ngModel)]="user.isActive" name="isActive">
    <label class="form-check-label" for="isActive">
      Is Active ?
    </label>
  </div>
    <button type="submit" [disabled]="isequal" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-info" style="margin-left: 5px;" routerLink="/pages/users/list">Back to list</button>
  </form>