<h1 id="title" class="title">Login</h1>
<p class="sub-title">Hello! Log in with your name.</p>


<div class="form-control-group">
  <div *ngIf="!validInputs" class="alert alert-danger" role="alert">
    Wrong Name or Password
  </div>
</div>
<form (ngSubmit)="dologin()" #form="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-email">Name:</label>
    <input nbInput fullWidth [(ngModel)]="name" name="email" id="input-email" placeholder="Name">
  </div>
  <div class="form-control-group">
    <label class="label" for="input-email">Password:</label>
    <input nbInput  fullWidth [(ngModel)]="password" name="password" type="password" id="input-password" placeholder="Password">
  </div>
  <button nbButton fullWidth type="submit" class="btn btn-primary">Log In</button>
</form>
