<div style="margin-top:30px;">
  <div [hidden]="!employee.firstName && !employee.lastName" class="alert alert-primary" role="alert">
    Employee Name: <strong> {{employee.firstName}} {{employee.lastName}}</strong>
  </div>
  <div [hidden]="!employee.email " class="alert alert-primary" role="alert">
    Email: <strong>{{employee.email}}</strong>
  </div>
  <div [hidden]="!employee.code " class="alert alert-primary" role="alert">
    Code: <strong>{{employee.code}}</strong>
  </div>
  <div [hidden]="!employee.address1 && !employee.address2 " class="alert alert-primary" role="alert"> 
    Addresses: 
    <ul>
      <li> Address1: <strong>{{employee.address1}}</strong></li>
      <li> Address2: <strong>{{employee.address2}}</strong></li>
    </ul>
  </div>
  <div [hidden]="!gender " class="alert alert-primary" role="alert">
    Gender: <strong>{{gender}}</strong>
  </div>
  <div [hidden]="!employee.dateOfBirth " class="alert alert-primary" role="alert">
    Date Of Birth: <strong>{{employee.dateOfBirth}}</strong>
  </div>
  <div [hidden]="!employee.socialSecurityNo " class="alert alert-primary" role="alert">
    Social Security No: <strong>{{employee.socialSecurityNo}}</strong>
  </div>
  <div [hidden]="!employee.electronicDispatch " class="alert alert-primary" role="alert">
    Electronic Dispatch: <strong>{{employee.electronicDispatch}}</strong>
  </div>
  <div [hidden]="!employee.lastSalary " class="alert alert-primary" role="alert">
    Last Salary: <strong>{{employee.lastSalary}}</strong>
  </div>
</div>
<div>
  <button [hidden]="!isAdmin" (click)="navigate('edit')"  type="button" class="btn btn-primary">Edit</button>
  <button [hidden]="!isAdmin" (click)="navigate('delete')" type="button" style="margin-left: 5px;" class="btn btn-danger">Delete</button>
  <button (click)="navigate('list')" type="button" style="margin-left: 5px;" class="btn btn-primary">Back to List</button>
</div>