<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="col-2">Users</h2>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary float-right" (click)="navigate('add')">Add User</button>
      </div>
    </div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">User Type</th>
        <th scope="col">Is Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.roleName }}</td>
        <td>{{ user.isActive }}</td>
        <td>
            <button [disabled]="user.roleName == 'Admin'" type="button" class="btn btn-link" (click)="navigate('edit',user.id)">Edit</button>
            <button [disabled]="user.roleName == 'Admin'" type="button" class="btn btn-link" (click)="navigate('delete',user.id)">Delete</button>
            <button [disabled]="user.roleName == 'Admin'" *ngIf="user.isActive == false" type="button" class="btn btn-link" (click)="activate(user.id)">Activate</button>
            <button [disabled]="user.roleName == 'Admin'" *ngIf="user.isActive == true" type="button" class="btn btn-link" (click)="deActivate(user.id)">Deactivate</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>